<div class="header">
  <img class="f1-logo" src="../assets/F1-LOGO.png" alt="F1logo">
</div>

<div class="menu">
  <div class="arrow-base">
    <i class="pi pi-angle-double-left menu-item" style=""></i>
  </div>
  <div class="year-menu">
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2020)">2010</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2021)">2011</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2012</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2013</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2014</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2015</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2016</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2017</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2018</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2019</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2020</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2021</button>
    <button pButton type="button" class="menu-item" (click)="selectedSeason(2022)">2022</button>
  </div>

  <div class="arrow-base">
    <i class="pi pi-angle-double-right menu-item" style="font-size: 2rem; width: 20px; height: 20px"></i>
  </div>

</div>


<p-table [value]="tableEntries">
  <ng-template pTemplate="header">
    <tr>
      <th>Sea</th>
      <th pSortableColumn="round">Rou<p-sortIcon field="round"></p-sortIcon></th>
      <th pSortableColumn="raceName">Race<p-sortIcon field="raceName"></p-sortIcon></th>
      <th pSortableColumn="Circuit.circuitName">Circuit<p-sortIcon field="Circuit.circuitName"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-race>
    <tr>
      <td>{{race.season}}</td>
      <td>{{race.round}}</td>
      <td>{{race.raceName}}</td>
      <td>{{race.Circuit.circuitName}}</td>
    </tr>
  </ng-template>
</p-table>
